html, body {
	height: 100%;
}
#container {
	height: 100vh;
	background-size: cover;
	background-image: url("sunset2.jpg");
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
	width: 100%;
	padding-top: 100px;
}
.mynav {
	color: white;
}

.center {
	text-align: center;
}
#container .row h4 {
	color: white;
	padding-top: 15px;
	padding-bottom: 15px;
}
#container .row .form-group label {
	color: yellow;
}
#container .alert-success {
    margin: 20px auto;
    display: none;
    width: 80%;
  }
#mainheading {
	font-family: 'Lora', serif;
	font-style: italic;
	font-weight: 900;
	color: white;	
	font-size: 5.5rem;
	letter-spacing: 1px;
}