html, body {
	height: 100%;
}
#container {
	height: 100%;
	background-size: cover;
	background-image: url("sunset2.jpg");
	background-position: center;
	background-repeat: no-repeat;
	width: 100%;
	padding-top: 100px;
}
.white {
	color: white;
}
.center {
	text-align: center;
}
#container .row h4 {
	padding-top: 15px;
	padding-bottom: 15px;
}
.alert {
    margin: 20px auto;
    display: none;
  }
#mainheading {
	font-family: 'Lora', serif;
	font-style: italic;
	font-weight: 900;
	color: white;	
	font-size: 5.5rem;
	letter-spacing: 1px;
}